*{
    margin:0;
    padding:0;
}
.Group{
    display:none;
}
#modal{
    height:100px;
    width:100%;
    background-color:#F2F2F2 ;
    border:solid 1px black;
    position: absolute; 
   left:0;
   right:0;
    
} 

@media (max-width:600px){
    body{
        background-color: #F2F2F2;
    }
    .ul{
        display:none;
    }
    ul{
        text-align: center;
    }
    .Group{
        display:block;
        margin-right:20px;

    }
    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-top:20px;
    }
    .vase{
        height:300px;
        width: 343px;
        display:block;
        margin-left:auto;
        margin-right:auto;
        padding:5px;
    }
    .width{
        width:250px;
        margin-top:10px;
        margin-left:20px;
    }
    p{
        margin-left:20px;
    }
    .red{
        background-color: #F15D51;
        color:#F2F2F2;
        height:48px;
        width:185px;
        margin-left:20px;
        margin-top:10px;
        border:none;
    }
    .black{
        background-color:#00001A;
        height:329px;
        width:343px;
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;
    }
    .orange{
        color:#EB6B0E; 
      padding-top:20px; 
      padding-left:20px;

    }
    .white{
        color:#FFFDFA;
        padding-left:20px;
        padding-top:10px;
    }
    .silver{
        color:silver;
       
    } 
    .line{
        width:100%;
        background-color:silver;
        border:solid 1px silver; 
        margin-top:20px;
    }
    .line2{
        width: 100%;
        background-color: silver;
        border: 1px solid silver;

    }
    #grid1{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        margin-left:20px;
        margin-top:20px;
        grid-template-areas: 
        "image header"
        ". p"
        "image2 header2"
        ". p2";
       
    }
    .header{
        grid-area:header;
    }
    .text{ 
        grid-area:p;
        margin-right:20px;
        margin-left:0px;
        margin-top: 5px;
       

    }
    .image{
        grid-area:image;
    }
}